<ul>
  <li><%= link_to 'Who we are', who_we_are_path %></li>
  <li><%= link_to 'Prayers', prayers_path %></li>
  <li><%= link_to 'Contact Us', contact_us_path %></li>
  <li><%= link_to 'Oh Maria!', oh_maria_path %></li>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
</ul>