<ul>
  <li><%= link_to t('the_movement'), the_movement_path %></li>
  <li><%= link_to t('meeting_guide'), meeting_guide_path %></li>
  <li><%= link_to t('contact_us'), contact_us_path %></li>
  <li><%= link_to t('oh_maria'), oh_maria_path %></li>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
</ul>