<h1><%= PointOfEffort.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due date</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @point_of_efforts.each do |point_of_effort| %>
      <tr>
        <td><%= point_of_effort.title %></td>
        <td><%= point_of_effort.description %></td>
        <td><%= l point_of_effort.due_date %></td>
        <td><%= l point_of_effort.created_at, format: :date_only %></td>
        <td><%= link_to t('helpers.links.show'), point_of_effort_path(point_of_effort, locale: locale) %></td>
        <td><%= link_to t('helpers.links.edit'), edit_point_of_effort_path(point_of_effort, locale: locale) %></td>
        <td><%= link_to t('helpers.links.destroy'), point_of_effort_path(point_of_effort, locale: locale), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.links.new', model: PointOfEffort.model_name.human), new_point_of_effort_path %>
