<div id="efforts-show-container" class="content-container">
	
	<div id="efforts-show-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= Sharing.model_name.human %></h2>
	</div>
	
	<p id="notice"><%= notice %></p>
	
	<div id="efforts-show-body" class="content-body">
		
		<p class="show show-quote show-big">
			<strong><%= l @point_of_effort.created_at, format: :date_only %></strong>
			<br /><br />
		 	
			<strong>Title:</strong>
			<span class="response-block"><%= @point_of_effort.title %></span>
			<br />
			
			<strong>Description:</strong>
			<span class="response-block"><%= @point_of_effort.description %></span>
			<br />
			
			<strong>Due date:</strong>
			<span class="response-block"><%= @point_of_effort.due_date %></span>
			<br />
			
			<strong>My User Id:</strong>
			<span class="response-block"><%= @point_of_effort.user_id %></span>
		</p>
		
		<div class="form-actions">
			<%= link_to t('helpers.links.edit'), edit_point_of_effort_path(@point_of_effort, locale: locale), :class => "action-submit"  %>
			<%= link_to t('helpers.links.back'), point_of_efforts_path(locale: locale), :class => "default-submit" %>
		</div>
		
	</div>
	
	<%= render "point_of_efforts/bottom_action_bar" %>
	
</div>