<%= simple_form_for(@sharing, url: custom_url) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs multi-question">
    <%= f.input :spiritual_life %>
    <%= f.input :god_relationship %>
    <%= f.input :family_relationship %>
    <%= f.input :testimony_to_society %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "action-submit"  %>
  </div>
<% end %>
