<h1>Listing sharings</h1>

<table>
  <thead>
    <tr>
      <th>Spiritual life</th>
      <th>God relationship</th>
      <th>Family relationship</th>
      <th>Testimony to society</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sharings.each do |sharing| %>
      <tr>
        <td><%= sharing.spiritual_life %></td>
        <td><%= sharing.god_relationship %></td>
        <td><%= sharing.family_relationship %></td>
        <td><%= sharing.testimony_to_society %></td>
        <td><%= link_to 'Show', sharing %></td>
        <td><%= link_to 'Edit', edit_sharing_path(sharing) %></td>
        <td><%= link_to 'Destroy', sharing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sharing', new_sharing_path %>
