<div id="sharings-container" class="content-container">
	
	<div id="sharings-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= Sharing.model_name.human %></h2>
	</div>
	
	<div id="sharings-body" class="content-body">
		<!--
			<%= Sharing.human_attribute_name(:spiritual_life) %><br />
			<%= Sharing.human_attribute_name(:god_relationship) %><br />
			<%= Sharing.human_attribute_name(:family_relationship) %><br />
			<%= Sharing.human_attribute_name(:testimony_to_society) %><br />
			<%= Sharing.human_attribute_name(:created_at) %><br />
		-->
		
		<ul class="content-list">
			<% @sharings.each do |sharing| %>
				<!--
					<%= sharing.spiritual_life %><br />
					<%= sharing.god_relationship %><br />
					<%= sharing.family_relationship %><br />
					<%= sharing.testimony_to_society %>
				-->
				<li class="content-list-item">
					<span class="circle-icon circle-uncheck"></span>
					<h3 class="list-item-title">
						<%= link_to (l sharing.created_at, format: :date_only), sharing_path(sharing, locale: locale) %>
					</h3>
					<div class="clearfix"></div>
					
					<div class="list-item-actions">
						<ul class="actions-list">
							<li class="actions-list-item action-edit">
								<%= link_to t('helpers.links.edit'), edit_sharing_path(sharing, locale: locale) %>
							</li>
							<li class="actions-list-item action-delete">
								<%= link_to t('helpers.links.destroy'), sharing_path(sharing, locale: locale), method: :delete, data: { confirm: 'Are you sure?' } %>
							</li>
						</ul>
					</div>
					
				</li>
			<% end %>
		</ul>
		
	</div>
	
	<%= render "sharings/bottom_action_bar" %>
	
</div>
