<h1><%= Sharing.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= Sharing.human_attribute_name(:spiritual_life) %></th>
      <th><%= Sharing.human_attribute_name(:god_relationship) %></th>
      <th><%= Sharing.human_attribute_name(:family_relationship) %></th>
      <th><%= Sharing.human_attribute_name(:testimony_to_society) %></th>
      <th><%= Sharing.human_attribute_name(:created_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sharings.each do |sharing| %>
      <tr>
        <td><%= sharing.spiritual_life %></td>
        <td><%= sharing.god_relationship %></td>
        <td><%= sharing.family_relationship %></td>
        <td><%= sharing.testimony_to_society %></td>
        <td><%= l sharing.created_at, format: :date_only %></td>
        <td><%= link_to t('helpers.links.show'), sharing_path(sharing, locale: locale) %></td>
        <td><%= link_to t('helpers.links.edit'), edit_sharing_path(sharing, locale: locale) %></td>
        <td><%= link_to t('helpers.links.destroy'), sharing_path(sharing, locale: locale), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.links.new', model: Sharing.model_name.human), new_sharing_path %>
