<p id="notice"><%= notice %></p>

<p>
  <strong>Spiritual life:</strong>
  <%= @sharing.spiritual_life %>
</p>

<p>
  <strong>God relationship:</strong>
  <%= @sharing.god_relationship %>
</p>

<p>
  <strong>Family relationship:</strong>
  <%= @sharing.family_relationship %>
</p>

<p>
  <strong>Testimony to society:</strong>
  <%= @sharing.testimony_to_society %>
</p>

<%= link_to t('helpers.links.show'), edit_sharing_path(@sharing, locale: locale) %> |
<%= link_to t('helpers.links.back'), sharings_path(locale: locale) %>
