<h1>Listing theme_reflections</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theme_reflections.each do |theme_reflection| %>
      <tr>
        <td><%= theme_reflection.question %></td>
        <td><%= l theme_reflection.created_at, format: :date_only %></td>
        <td><%= link_to 'Show', theme_reflection_path(theme_reflection, locale: locale) %></td>
        <td><%= link_to 'Edit', edit_theme_reflection_path(theme_reflection, locale: locale) %></td>
        <td><%= link_to 'Destroy', theme_reflection_path(theme_reflection, locale: locale), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theme reflection', new_theme_reflection_path %>
