<h1><%= t('meeting_guide') %></h1>
<ul>
    <li><%= link_to t('prayers'), prayers_path %></li>
    <li><%= t('theme_reflections') %></li>
    <li><%= t('sharing') %></li>
    <li><%= t('point_of_effort') %></li>
</ul>