<!DOCTYPE html>
<html>
<head>
  <title>Companion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
    <ul>
        <li><%= link_to t('the_movement'), the_movement_path %></li>
        <li>
            <span><%= link_to t('meeting_guide'), meeting_guide_path %></span>
            <ul>
                <li>
                    <span><%= link_to t('prayers'), prayers_path %></span>
                    <ul>
                        <li><%= link_to t('magnificat'), magnificat_path %></li>
                        <li><%= link_to t('holy_spirit'), holy_spirit_path %></li>
                        <li><%= link_to t('hail_mary'), hail_mary_path %></li>
                        <li><%= link_to t('our_father'), our_father_path %></li>
                        <li><%= link_to t('time_out'), time_out_path %></li>
                        <li><%= link_to t('the_rosary'), the_rosary_path %></li>
                    </ul>
                </li>
                <li><%= t('theme_reflections') %></li>
                <li><%= t('sharing') %></li>
                <li><%= t('point_of_effort') %></li>
            </ul>
        </li>
        <li><%= link_to t('contact_us'), contact_us_path %></li>
        <li><%= link_to t('oh_maria'), oh_maria_path %></li>
    </ul>
</div>

<div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
</div>

</body>
</html>
