<!DOCTYPE html>
<html>
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	
	<meta name="description" content="YTOL Companion App - Youth Teams of Our Lady: Companion App">
	<meta name="keywords" content="YTOL Companion, ytol, companion, Youth Teams of Our Lady, youth, teams, team, our, lady, mary, app, webapp, web">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="index,follow">
	
  	<title>YTOL Companion</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>	
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
	
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	<link href="<%= image_path("app-icon/iPhone.png") %>" rel="apple-touch-icon" />
	<link href="<%= image_path("app-icon/iPad.png") %>" rel="apple-touch-icon" sizes="76x76" />
	<link href="<%= image_path("app-icon/iPhone@2x.png") %>" rel="apple-touch-icon" sizes="120x120" />
	<link href="<%= image_path("app-icon/iPad@2x.png") %>" rel="apple-touch-icon" sizes="152x152" />
	
</head>
<body>

<%= render 'layouts/action_bar' %>

<div id="nav-drawer">
    <ul id="nav-drawer-container">
        <% if !user_signed_in? %>
            <li><%= link_to 'Entrar »', new_user_session_path %></li>
        <% end %>
        <li><%= link_to t('the_movement'), the_movement_path %></li>
        <li>
            <span><%= link_to t('meeting_guide'), meeting_guide_path %></span>
			<a href="#" class="arrow-ctrl arrow-down"></a>
			
            <ul class="sub-level first-level closed">
                <li>
                    <span><%= link_to t('prayers'), prayers_path %></span>
					<a href="#" class="arrow-ctrl arrow-down"></a>

                    <ul class="sub-level second-level closed">
                        <li><%= link_to t('magnificat'), magnificat_path %></li>
                        <li><%= link_to t('holy_spirit'), holy_spirit_path %></li>
                        <li><%= link_to t('hail_mary'), hail_mary_path %></li>
                        <li><%= link_to t('our_father'), our_father_path %></li>
                        <li><%= link_to t('time_out'), time_out_path %></li>
                        <li><%= link_to t('the_rosary'), the_rosary_path %></li>
                    </ul>
                </li>
                <li><%= link_to t('theme_reflections'), theme_reflections_path %></li>
                <li><%= link_to t('sharing'), sharings_path %></li>
                <li><%= link_to t('point_of_effort'), point_of_efforts_path %></li>
            </ul>
        </li>
        <li><%= link_to t('contact_us'), contact_us_path %></li>
        <li><%= link_to t('oh_maria'), oh_maria_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Sair »', destroy_user_session_path %></li>
        <% end %>
    </ul>

	<div id="nav-layer"></div>
</div>

<div id="container" class="content-bg">
	<div id="container-wrapper">
		
		<p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
		
	    <%= yield %>
		
		<%=  %><br />
		<%=  %>
		
	</div>
</div>

</body>
</html>
